/* Basic styling for the preview pane wrapper and iframe */
.preview-wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.preview-iframe {
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}